:root {
  --topnav-height: 67.188px;

  --primary: #f77573;
  --secondary: #fff;
  --background: #191d21;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  color: var(--secondary);
  fill: var(--secondary);
}

#app {
  display: flex;
  flex-direction: column;
}

.topnav {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 500;
}

.language-buttons {
  display: flex;
}

.language {
  display: flex;
  align-items: center;
  padding: 1.2rem 1rem 1rem;
  border-bottom: 0.2rem solid transparent;
  cursor: pointer;
  user-select: none;
}

.language span {
  display: none;
}

.language:hover {
  border-color: var(--secondary);
}

.language.current {
  color: var(--primary);
  fill: var(--primary);
  border-color: var(--primary);
  cursor: default;
}

.option-buttons {
  display: flex;
}

.option {
  display: flex;
  align-items: center;
  padding: 1.2rem 1rem 1rem;
  border-bottom: 0.2rem solid transparent;
  cursor: pointer;
  user-select: none;
}

.option:hover {
  border-color: var(--secondary);
}

.option.current {
  color: var(--primary);
  fill: var(--primary);
  border-color: var(--primary);
  cursor: default;
}

.option.preview.hide {
  display: none;
}

.option span {
  display: none;
}

.main {
  display: flex;
}

.editor-container {
  /* flex: 4; */
  width: 100%;
}

.output {
  /* flex: 5; */
  width: 100%;
  background-color: #f5f5f5;
}

.output.hide,
.editor-container.hide {
  display: none;
}

html,
body,
#app,
.main,
.editor-container,
.editor,
.cm-editor {
  height: 100%;
}

.main {
  height: calc(100% - var(--topnav-height));
}

.editor {
  display: none;
}

.editor.current {
  display: block;
}

@media (min-width: 800px) {
  .option {
    display: none;
  }
}
