* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
}

.editor-container,
.output {
  flex: 1;
}

.cm-editor {
  height: 100vh;
}

/* .cm-editor.cm-focused,
.cm-editor {
  outline: 2px solid cyan;
} */
